.clients{
    display: flex;
   margin: 40%;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.clients h2{
    position: relative;
    display: flex;
    background-color:transparent;
    justify-content: center;
    font-weight: 300;
}
.client-images{
    margin-top: 15%;
    display: flex;
    position: absolute;

    background-color:transparent;
    height: 50px;
    gap: 20px;
   justify-content: center;
}

.client-images img{
    background-color: transparent;
    padding: 5px;
    
}
@media (max-width: 480px){
    .clients h2{
    display: block;
    margin-top: 20%;
    align-items: center;
  }
  .client-images {
    display: flex;
    flex-direction: column;
    margin-top: 120%;
    align-items: center;
  }
  .client-images img{
    height: 50px;
    gap: 100px;
    width: fit-content;
  }

}